* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
nav {
    width: 100hw;
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:15px;
    position: sticky;
    top:0px;
    
}

.ul {
    list-style: none;
    display: flex;
    gap:2rem;
    /*border:1px solid black;*/
    height: 100%;
    align-items: center;
}
li a {
    text-decoration: none;
    color:white;
    font-family: 'Rubik', sans-serif;
    font-size: 25px;
}

li {
    height: 100%;
    padding:13px;
}

li a:hover {
    cursor: pointer;
    color:grey;
}

.logo {
    display: flex;
    align-items: center;
}




nav h1 {
    font-family: 'Kumbh Sans', sans-serif;
    color:white;
    font-size: 50px;
    line-height: 1;
}

main {
    display: flex;
    flex-direction: column;
    min-height: 90vh;
    justify-content: center;
    align-items: center;
}