.abt {
    height: 80vh;
    width: 100vh;
    padding: 25px;
    display: flex;
    flex-direction: column;
    gap:4rem;
    animation:about;
    animation-duration: 2s;
    overflow: hidden;

}
.abt h1 {
   font-family: 'Rubik', sans-serif;
}

p {
    font-family: 'Comfortaa', cursive;
    font-family: 'Rubik', sans-serif;
    font-size: 25px;
}
ul {
    list-style:circle;
    display: block;
}


.log {
    border-radius: 2rem;
    overflow: hidden;
    width: 30rem;
    height: 35rem;
    box-shadow: 0px 10px 10px 11px rgba(0,0,0,0.1);
    animation: about;
    animation-duration: 2s;

}
.log .loganc {
    height: 10%;
    list-style: none;
    background-color: black;
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
}
.login input {
    width: 100%;
}
.login {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 90%;
}

.login input {
    font-family: 'Rubik', sans-serif;
    font-weight: bold;
    padding: 10px;
    width: 80%;
    font-size: 20px;
}


.login input[type=submit] {
    width: 30%;
    padding: 15px;
    font-family:'Rubik', sans-serif;
    background-color: black;
    color:white;
    border:none;
    border-radius: 15px;
}

.login input[type=submit]:hover {
    cursor: pointer;
    animation-name:button;
    animation-duration: 0.5s;
    color:black;
    background-color: white;
}
















/*Animations*/
@keyframes about {
    from {
        opacity: 0;
    }
    to {
        opacity: 5;
    }
}

@keyframes button {
    from {
        background-color: black;
        color:white;
    }
    to {
        background-color: white;
        color:black;
    }
}